.program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: color-mix(in hsl, var(--quinary-color) 30%, transparent 70%);
  width: 100%;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 3s ease-out;
}

.program_title_form {
  width: 100%;
}

.program_image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 1.5rem;
}

.program_image_container{
  aspect-ratio: 16/9;
  width: 95%;
  border-radius: 1.5rem;
  background-color: var(--quinary-color);
  transition: all 0.3s ease-out;
  filter: brightness(0.85);
  overflow: hidden;
}

.program_title {
  cursor: text;
  min-width: 1ch;
  width: 95%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  box-shadow: none;
  /* field-sizing: content; */
  text-align: center;
  padding: 0.5rem;
}

.program_description {
  cursor: text;
  min-width: 1ch;
  width: calc(95% - 2rem);
  font-size: 1rem;
  font-weight: normal;
  background-color: transparent;
  box-shadow: none;
  /* field-sizing: content; */
  overflow-wrap: break-word;
  text-align: left;
  white-space: pre-wrap;
  padding: 0.5rem;
  margin-left: 1rem;
}


.program_title:active, .program_title:focus {
   border:none;
   outline:none;
}

.program_info {
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.program_image_overlay {
  position: relative;
  display: flex;
  top: -4rem;
  left: 0.5rem;
  width: calc(100% - 2rem);
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.program_image_icon {
  background-color: color-mix(in hsl, var(--quinary-color) 70%, transparent 30%);
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.program_image_icon:hover {
  box-shadow: 0 0 0.2rem var(--tertiary-color);
  filter: brightness(1.2); /* Increase brightness */
  transform: scale(1.15); /* Slightly enlarge the icon */
  transition: all 0.3s ease-out;
}

@media (prefers-color-scheme: dark) {
  .program_image_icon {
    filter: brightness(1.5); /* Increase brightness */
    transform: scale(1.1); /* Slightly enlarge the icon */
  }
}

.program_image_overlay > p {
  background-color: color-mix(in hsl, var(--quinary-color) 70%, transparent 30%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  cursor: text;
}

.share_icon {
  font-size: 1.7rem;
  margin: 0 0.5rem;
}


.share_icon:hover {
  filter: brightness(1.2); /* Increase brightness */
  transform: scale(1.15); /* Slightly enlarge the icon */
  transition: all 0.1s ease-out;
}

.delete_icon {
  font-size: 1.7rem;
}

.delete_icon:hover {
  filter: brightness(1.2); /* Increase brightness */
  transform: scale(1.15); /* Slightly enlarge the icon */
  transition: all 0.1s ease-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  @media (prefers-color-scheme: dark) {
    .slider {
      background-color: #555;
    }
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  @media (prefers-color-scheme: dark) {
    .slider:before {
      background-color: black;
    }
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }

  @media (prefers-color-scheme: dark) {
    input:checked + .slider {
      background-color: #1565C0; /* A darker shade of blue for dark mode */
    }
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  