
.week {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    margin: 0px;
    padding: 0px;
    justify-content: center;
    width: 4rem;
    height: 3.5rem;
    margin-top: 5px;
    background-color: transparent;
    box-shadow: none;
    /* box-shadow: 0px 2px 2px 0px var(--quinary-color); */
}
.btn + .btn {
    margin-left: 5px;
}
.btn-today {
    margin: 0px;
    padding: 0px;
    width: 80px;
    height: 35px;
    box-shadow: none;
    /* box-shadow: 0px 2px 2px 0px var(--quinary-color); */
}
.active {
    background-color: color-mix(in hsl, var(--quinary-color) 50%, transparent 50%); 
}
.today {
    border: 2px solid var(--quinary-color);
}
.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}