.program {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: color-mix(in hsl, var(--quinary-color) 30%, transparent 70%);
  padding: 1em;
  margin: 1em;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 3s ease-out;
}

.program_title_form {
}

.confetti {
  width: 3rem;
}

.program_title {
  cursor: text;
  width: fit-content;
  min-width: 1ch;
  max-width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  box-shadow: none;
  /* field-sizing: content; */
  text-align: left;
  padding: 0.5rem;
}

.program_date {
  cursor: text;
  width: fit-content;
  min-width: 1ch;
  max-width: 100%;
  font-size: 1.15rem;
  background-color: transparent;
  box-shadow: none;
  /* field-sizing: content; */
  text-align: right;
  padding: 0.5rem;
  margin-right: 2rem;
}


.program_title:active, .program_title:focus {
   border:none;
   outline:none;
}

.program_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.share_icon {
  font-size: 1.7rem;
  margin: 0 0.5rem;
}

.delete_icon {
  font-size: 1.7rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  @media (prefers-color-scheme: dark) {
    .slider {
      background-color: #555;
    }
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  @media (prefers-color-scheme: dark) {
    .slider:before {
      background-color: black;
    }
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }

  @media (prefers-color-scheme: dark) {
    input:checked + .slider {
      background-color: #1565C0; /* A darker shade of blue for dark mode */
    }
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  