
.calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn_container {
    width: 3rem;
    height: 3rem;
}
.btn_container + .btn_container {
    margin-left: 0.5rem;
}

.btn {
    margin: 0px;
    width: 3rem;
    height: 3rem;
    padding: 0px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    box-shadow: none;
    display: flex;
}
.active {
    background-color: rgba(0, 0, 0, 0.1);
}
@media (prefers-color-scheme: dark) {
    .active {
        background-color: rgba(255, 255, 255, 0.1);
    }
}
.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
}